

parameters:
	ignoreErrors:
		-
			message: "#^Access to undefined constant StripeV2\\\\ApiResource\\:\\:OBJECT_NAME\\.$#"
			count: 1
			path: lib/ApiResource.php

		-
			message: "#^Access to undefined constant StripeV2\\\\SingletonApiResource\\:\\:OBJECT_NAME\\.$#"
			count: 1
			path: lib/SingletonApiResource.php


